body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 32px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}

#setFeedingTime input {
    width: 80px;
    padding: 5px;
    margin: 5px;
}

#setFeedingTime button {
    margin: 10px;
}
